@if(Items is not null && Items.Count > 0)
{
    <div class="logs">
        <label>Infos</label>
        <div class="content">
            <ul>
                @foreach (Message item in Items)
                {
                    <li class="@(item.Error ? "error" : "message")">@item.Content</li>
                }
            </ul>
        </div>                    
    </div>
}


